[2021-05-17 17:52] faddat opened #6 "Seeds & Genesis.json"
Couldn't find the seeds and genesis file.

We should make this easy and obvious, similar to Gaia's quickstart.

[2021-05-19 05:48] faddat opened #7 "Update Scaffold"
Starport has been moving fast.

I'll shortly submit a PR that updates this to the latest scaffold.

[2021-05-27 22:18] faddat opened #9 "arm64"
It's a stretch, but I'd be remiss not to create an issue here so that at some point, we get this hammered out.

https://github.com/CosmWasm/wasmvm/issues/53

[2021-05-28 05:14] blockcreators commented on #9
Does this also affect the new M1 chips?

[2021-05-28 07:09] faddat commented on #9
Yes it does And it's a shame because I really like my tiny new laptop

[2021-05-30 07:40] blockcreators commented on #7
Merged

[2021-05-30 07:40] #7 closed

[2021-05-30 07:41] blockcreators commented on #6
The genesis is mostly done but few params need to be tweaked. Expect it soon :)

[2021-06-05 02:56] faddat opened #12 "EVM"
So I tested out the Stargate version of the EVM module yesterday.

Things went well!

It's my understanding that Ethereum 1.10.* much much faster than 1.9.* so I've been trying to get that in by default.

It's not done yet, seem to need to refactor the stuff that supports Access list.

GitHub.om/faddat/ethermint

It is in the latest-eth-sleepy branch.

Let me know what ya think :), any assistance

[2021-06-05 15:01] blockcreators commented on #12
I think we will be waiting for an official supported version from:
https://github.com/cosmos/ethermint
Current estimates last I checked were the end of 2021.
I will check out your repo though :)

This is also why we are waiting on wasm v1 (hopefully late June) so that it will be supported going forward.
https://github.com/CosmWasm/cosmwasm

[2021-06-05 15:06] faddat commented on #12
This is sensible.

[2021-06-10 21:55] JakeHartnell opened #15 "Generated genesis file doesn't work."
Recent version here: https://github.com/CosmosContracts/testnets/blob/main/juno-testnet-7/genesis.json

When it's run it throws an error:
[code]

[2021-06-13 18:10] blockcreators commented on #15
Denis from discord said:

[code]

[2021-06-14 00:25] faddat commented on #15
Good sir block creator, can you please link to the Genesis file that you're referring to using an IPFS CID so that I know exactly what file you're talking about?

For example, are you referring to our current Genesis file or are you referring to the one from the hub?

[2021-06-14 07:38] the-frey commented on #15
I assume the one on Github in the testnets repo?

[2021-06-14 07:38] the-frey commented on #15
(the one Jake has linked)

[2021-06-14 09:51] faddat commented on #15
Yeah, I think I was temporarily blind.  Thanks!

[2021-06-15 11:38] the-frey commented on #15
How was this genesis file generated? When was it generated?

[2021-06-15 11:44] the-frey commented on #15
The gap between those two numbers is exactly `20000000000000` which makes me think it's not a percentage - so it can't be the e.g. community pool right?

[2021-06-15 11:46] the-frey commented on #15
Unless community pool is allocated an _exact number_ in which case I think the fix is likely trivial

[2021-06-15 11:49] the-frey commented on #15
Ah no wait, I've got it backwards 'cos accounts coins exceeds supply, my bad.

[2021-06-15 13:04] the-frey commented on #15
Okay, maybe try the genesis on this branch? Not sure if `supply` needs to be set as well as the community pool config param, but we can remove if it's not needed https://github.com/CosmosContracts/testnets/tree/community_pool

[2021-06-15 13:27] the-frey commented on #15
@JakeHartnell what command were you running when it threw that error? I'll try & replicate and then test this fix locally.

[2021-06-15 18:19] JakeHartnell commented on #15
This comment from @dfadeev was helpful: https://github.com/CosmosContracts/Juno/issues/15#issuecomment-860249934

Supply was not being set `"supply": []`

Setting it to:
[code]
Seems to have done the trick.

Of course, I just manually edited this. Would be nice if the code that generates the airdrop Genesis added this... or at least update the instructions.

[2021-06-15 19:01] the-frey commented on #15
I'll take a look after dinner. IIRC all those values are availabile at the time the `juno_out.json` file is written by the airdrop code, so should be simple enough to do (hopefully)

[2021-06-16 22:21] faddat commented on #15
@JakeHartnell I'm going to keep working on the "code" version but also think we should put up a testnet with your manually repaired file.

[2021-06-17 05:01] JakeHartnell commented on #15
:100:

[2021-06-22 21:19] faddat opened #17 "5% minimum validator comission"
This leads to a healthier network that is more difficult to capture, so I think we should get this in before cutting mainnet.

[2021-06-25 12:39] blockcreators commented on #17
So it looks like the community poll has changed back to 2.5%
Perhaps it can start with this, and a governance proposal can be put up after launch.

[2021-06-25 17:56] faddat commented on #17
Kinda good with just going with 5%.

But let's see.  I won't get this in till some time next week anyhow.

[2021-06-27 14:09] faddat opened #23 "Upgrade to 0.43.0 when starport does"
Seems to me that this release is well worth waiting for:

https://github.com/cosmos/cosmos-sdk/releases/tag/v0.43.0-rc0

https://github.com/tendermint/starport/issues/1307

[2021-06-28 19:12] blockcreators opened #24 "Update to wasm v1"
Update to wasm v1 when it is released for production by the Confio team

[2021-07-05 08:36] blockcreators opened #25 "Seperation of normal TX from Contract Deployment TX"
There seems to be the potential that someone could set up a validator, set the upload fee to 0 (or cheap) and then after the spam uploading of bulk contracts happen, they could shut down their validator and move on (not have to deal with the shared load of storage costs.

I am trying to figure out if having a separate cost structure for the TX and the Contract Deployment transaction might be benef

[2021-07-07 17:46] blockcreators commented on #25
So is the cost of a normal transactions based on the transaction data size currently? If so then we would just need to worry about setting a minimum TX cost (based on data size) and let the validators agree on what that should be. And if we could automate this it would be great?

[2021-07-29 14:12] #15 closed

[2021-07-29 14:12] dimiandre opened #27 "Inflation module"
Need to develop a custom minting/inflation module that fit juno tokenomics details

[2021-07-30 15:32] faddat commented on #23
Hey I wanted to jump in and offer an update here. Currently I am updating starport to version 0.42.8.

After that, 0.43.0.

There are some great improvements to how starport handles wasm.

[2021-07-30 15:35] faddat opened #29 "Quick start front and center featuring state sync"
The Readme.md file should provide exact directions on how to state sync a juno node.

[2021-08-04 01:31] faddat opened #30 "SPM Bad"
https://github.com/tendermint/spm

Is a module that juno currently imports. It is bad. The reason is bad is that our stack is no longer in our repository and this causes maintenance nightmare.

[2021-08-06 22:13] faddat commented on #30
Might be less bad than I thought, we should watch it, though.

[2021-08-06 22:15] faddat commented on #23
@romelukaku helped me with 0.43.0 for https://github.com/faddat/dig

Have run a few small testnets of that and will do a larger one this weekend.

I am also going to try and figure out how to get this into Starport.

[2021-08-10 18:17] blockcreators opened #32 "Disable CosmWasm module for mainnet"
Disable CosmWasm module for mainnet

[2021-08-10 21:05] blockcreators commented on #27
**Reward Schedule**

**Phase 1:** Fixed inflation 40%
New Juno in year 1 = (+25.961.297)
Supply after year 1 = 90.864.540 $JUNO
**Phase 2:** Fixed inflation 20%
New Juno in year 2 = (+18.172.908)
Supply after year 2 = 109.037.449 JUNO
**Phase 3:** Fixed inflation 10%
New Juno in year 3= (+10.903.744)
Supply after year 3 = 119.941.194 JUNO

Once the inflation reaches 10% it gradually reduces on a f

[2021-08-13 16:38] faddat commented on #32
Wat?

[2021-08-13 17:31] giansalex commented on #32
Or revert this commit https://github.com/CosmosContracts/Juno/commit/f0a3dfe9527b2076509c1f8f6186569787572265

[2021-08-13 19:25] #30 closed

[2021-08-13 20:33] giansalex commented on #27
@blockcreators must there be new parameters for Gov?

[2021-08-13 23:10] Wolfcontract commented on #27
Yes but the governance module is separate. First we need to put the reward schedule in stone. Has to be set in a way that exact numbers are met that are pre-calculated ie similar to what Osmosis is doing with their daily epoch distribution.

[2021-08-13 23:49] blockcreators commented on #27
We need to decide is the Osmosis epoch system better or worse for implementing the token inflation schedule that we want.
Whichever way is easier to code and reason with I am in favor of.

[2021-08-14 01:48] faddat commented on #32
Reverting the commit won't work well (history of the repo)

So I re-scaffolded again

oh, right the other thing....

[2021-08-14 01:54] faddat commented on #17
I need to either get osmo's minimum commission into the comsos-sdk or we use the osmo fork.

[2021-08-19 13:17] jotcodeofficial commented on #25
will revisit in v2

[2021-08-19 13:18] blockcreators commented on #25
We can re-visit in v2

[2021-08-19 13:18] #25 closed

[2021-08-21 17:04] #27 closed

[2021-08-24 18:07] giansalex commented on #23
Fyi https://github.com/CosmWasm/wasmd/issues/501

[2021-08-24 20:37] faddat commented on #32
suggest #42 ; it removes:

* wasm
* /x/juno

while getting us all of the new-starport-hotness.

Also it does not break @giansalex's work :P

[2021-08-24 20:43] faddat commented on #23
Now that I failed at upgrading to 0.43.0, succeeding at it should be much easier :P

[2021-08-26 21:22] nullmames opened #43 "hera testnet release"
Needs a release tag

[2021-08-30 02:21] faddat commented on #43
#45 I believe that's the one

[2021-08-30 02:23] faddat commented on #17
You know I should try to squeeze this one in I think it will improve the quality of the network and won't be difficult #43

[2021-08-30 02:49] faddat commented on #32
This is closed by #45

[2021-08-30 03:33] giansalex commented on #32
I believe that was solved in #42

[2021-08-30 04:11] faddat commented on #32
Yeah that's correct It's done

[2021-08-31 18:00] #23 closed

[2021-08-31 21:00] giansalex commented on #29
there is an issue https://github.com/CosmWasm/wasmd/issues/478

[2021-09-01 10:26] blockcreators commented on #24
https://github.com/CosmWasm/wasmd/issues/501

[2021-09-01 10:34] blockcreators opened #47 "Keplr Integration CW20 Tokens"
https://github.com/chainapsis/keplr-extension/pull/134

[2021-09-01 20:21] blockcreators opened #48 "Upgrade SDK to .44"
Upgrade when also supported with wasm v1.
Is the issue with 43 also with 42?

[2021-09-02 01:59] giansalex commented on #48
so we need to rollback sdk 0.43 upgrade , to support wasm v1 (0.42x) ,
 @dimiandre can you confirm?

[2021-09-02 16:36] faddat commented on #48
complete. with #49

@blockcreators -- my opinion:

It would make more sense to keep 0.44.0 and if need be, make the updates to wasm to support it.

[2021-09-02 16:37] faddat commented on #47
Post-wasm 1.0

[2021-09-02 17:00] giansalex commented on #48
I think it depends on whether wasm v1 will support sdk 0.44
https://github.com/CosmWasm/wasmd/issues/501#issuecomment-910287939

[2021-09-04 17:42] giansalex commented on #48
😥 , so will Juno wait until wasm supports 0.44?
 ![image](https://user-images.githubusercontent.com/14926587/132103602-9a57b32a-a95f-4b11-9a08-45edcf2debbf.png)

[2021-09-09 01:51] #43 closed

[2021-09-09 01:52] #32 closed

[2021-09-11 20:32] blockcreators commented on #24
https://github.com/CosmWasm/cosmwasm/releases/tag/v1.0.0-soon

Progress on Wasm + 44 support: https://github.com/CosmWasm/wasmd/issues/501
Branch with the goods: https://github.com/provenance-io/wasmd/tree/provenance-409-cosmos-v0.43

[2021-09-11 20:39] blockcreators commented on #48
We have decided to go ahead and support 0.44 for our release.
We will still wait for was v1, and then add what we need on top to try and keep it as close as possible.

[2021-09-19 21:56] faddat commented on #48
safe to close.

[2021-09-19 21:56] faddat commented on #29
post-mainnet

[2021-09-19 21:56] faddat commented on #12
closing per discussion

[2021-09-19 21:56] #12 closed

[2021-09-27 22:19] faddat opened #56 "Juno-1 release shouldn't be juno-1"
We should cut another release:

* Juno-1 has outdated libs, corrected in #53 and #54

Minimally, we need to merge both of those PR's to ship.

[2021-09-28 16:48] faddat commented on #56
I do not think that the IBC 1.1.0 -> IBC 1.2.0 transition was benign, and honestly my spm patch was just a rapid hack (though it worked of course).

[2021-09-29 06:12] nullmames commented on #17
i am all for this. i noted there are already gentx submissions with 0% commissions

[2021-09-29 10:36] #48 closed

[2021-10-02 06:42] KingDmoney commented on #56
Anyone Here Willing to help a hardwork 27year old man , that has 70$ LTC to his name !! Get guidelines of setting the properstuff up , thank you

[2021-10-04 18:03] blockcreators opened #58 "Enforce min gas fee for all transactions"
Because smart contracts might use transaction information, we cannot just archive older chain states and start fresh.
So it might be good to have a minimum transaction fee. This would reduce spamming the chain with 0 fee transactions, thus filling up the chain state with useless transaction data.

[2021-10-07 13:30] the-frey opened #60 "Update cosmos-sdk and tendermint"
*NB: Moneta is the name of the mainnet release that will include CW. In semver, it will be Juno 2.0.0*

Tasks:
- [ ] Update the Cosmos SDK to v44.2

Potentially already covered by: #57 & #54

[2021-10-07 13:31] the-frey opened #61 "Fix Dependabot issues after SDK merge"
*NB: Moneta is the name of the mainnet release that will include CW. In semver, it will be Juno 2.0.0*

Tasks:
- [ ] Fix Dependabot issues

[2021-10-07 13:32] the-frey opened #62 "Add CosmWasm v1 to Juno"
*NB: Moneta is the name of the mainnet release that will include CW. In semver, it will be Juno 2.0.0*

Tasks:
- [ ] Add CosmWasm to Juno
- [ ] Test it locally

[2021-10-07 14:33] oussamahamdaoui opened #63 "installation error: 'kIOMasterPortDefault' is deprecated: first deprecated in macOS 12.0 [-Wdeprecated-declarations]"
Hello everyone, I tried installing juno on my mac it runs on macOS Monterey 12.0 and when run the make command I get the following error:

`In file included from ../../go/pkg/mod/github.com/zondax/hid@v0.9.0/hid_enabled.go:38:
../../go/pkg/mod/github.com/zondax/hid@v0.9.0/hidapi/mac/hid.c:693:34: warning: 'kIOMasterPortDefault' is deprecated: first deprecated in macOS 12.0 [-Wdeprecated-declaratio

[2021-10-07 14:53] the-frey opened #64 "Change documentation to reflect new tags for juno 2.0.0"
There are a few places in the docs (not related to testnets), e.g. in Smart Contracts dev section refer to known working versions of Juno.

Once the new binary is ready and tagged, this will need updating.

Adding this ticket here as it's easier to track as part of this piece of work.

Tasks:
- [ ] Update mentions of `v1.0.0` git tag in the docs to the new binary tag
- [ ] Update mentions of the `

[2021-10-07 15:00] the-frey commented on #63
I think this is an issue with a dependency - https://github.com/zondax/hid
So a fix would need to be contributed there.
Looks like this also will affect the Cosmos SDK, but I can't see an issue there for it. 🤔

Is this a warning, or an out-and-out error?

[2021-10-07 16:15] #63 closed, assigned to nobody

[2021-10-07 18:54] giansalex commented on #56
v1 was released, this is obsolete

[2021-10-07 20:03] the-frey commented on #62
Yep, GP will close this & add checklist to that one

[2021-10-07 20:03] #62 closed, assigned to nobody

[2021-10-08 02:48] nullmames commented on #17
at the risk of an infinite loop
https://www.mintscan.io/juno/proposals/3

[2021-10-11 18:23] faddat opened #67 "Note to validators"
Hi,

I'm operating a relayer.  If you are operating a validator, it is very important that you:

`systemctl enable systemd-timesyncd`

please.

If you do not, there are time drift errors, and well, the Hermes default of five seconds is really pretty generous.

[2021-10-14 14:59] ericjohncarlson commented on #67
Correct time is crucial for any participating node.

In addition to the discord, I was going to create a PR to add this to the pre-requisites page of /validators/getting-setup page in the docs.  However, if Ubuntu LTS is the default assumption in the documentation, I believe `timesyncd` is enabled and active by default.

It may be still worth including in the pre-reqs as a double check for install

[2021-10-14 18:49] #67 closed

[2021-10-16 13:17] #56 closed

[2021-10-19 10:10] #60 closed

[2021-10-30 21:39] leha2148 commented on #17
@faddat the vote was accepted, but what will happen to the validators who set the maximum commission less than 5%, they will not be able to raise it? maybe give them the opportunity to do it 1 time?

[2021-10-30 21:52] nullmames commented on #17
@leha2148 the minimum commission will be introduced with the upcoming moneta upgrade. this means that any validator with less than 5% commission before the upgrade will have 5% commission after the upgrade, automatically.

[2021-10-31 10:26] the-frey commented on #17
Right so to implement this we need:

- [ ] Param change
- [ ] Upgrade handler

Anything else? Could use clarifying here so that it can be implemented

[2021-11-08 17:27] the-frey commented on #29
This is due as part of `v2.0.0` - https://github.com/CosmWasm/wasmd/milestone/17

[2021-11-08 21:14] JakeHartnell commented on #58
Network was able to be brought down with an attack from a malicious smart contract. This needs to be done.

[2021-11-08 23:05] blockcreators commented on #58
Would be ideal to have the fee as a parameter so that governance can auto change it via voting.

[2021-11-09 03:09] JakeHartnell opened #82 "Set max gas limit on Mainnet"
We should implement a gas limit like Terra. Kudos to @the-frey for this suggestion.

A gas limit will set an absolute maximum amount of gas a contract can use.

[2021-11-09 13:49] the-frey commented on #82
I'll pick this up and look into it.

[2021-11-09 13:50] faddat commented on #58
Hot

[2021-11-09 14:38] the-frey commented on #58
Don't disagree about it being changed by governance, but if governance changes it to 0 for zone reason then the network is ☠️

[2021-11-09 17:03] the-frey commented on #82
Okay, so I don't think we should hard code something programmatically. I think we can use governance and propose a sensible number. `.ConsensusParams.Block.MaxGas` is the param we're after

[2021-11-09 18:03] the-frey commented on #82
Going to try this on testnet:

[code]

[2021-11-10 11:22] the-frey opened #83 "Upgrade wasmvm"
Patch version is out, we need to bump version and upgrade https://github.com/CosmWasm/wasmvm

[2021-11-11 00:23] the-frey commented on #82
This worked and mitigated the attack vector on testnet, so we need to implement on mainnet.

[2021-11-11 02:29] JakeHartnell commented on #82
Awesome, will leave this open as a reminder until it passes. We should do some more testing to make sure we set it high enough to run contracts like JunoSwap and DAO DAO.

[2021-11-11 16:33] giansalex commented on #82
The gas used in attack was `2'163'370'243`, I think the `max_gas` can be increased , to allow more txs

[2021-11-11 17:05] blockcreators commented on #58
Governance could also vote to mint 1 trillionzillion coins and do the same thing :)

[2021-11-11 17:08] the-frey commented on #58
This is superceded by https://github.com/CosmosContracts/juno/issues/82

[2021-11-11 17:10] JakeHartnell commented on #58
In hindsight, not sure if this is needed. #82 should be enough. More risk from messing with this IMO.

[2021-11-12 00:56] nullmames commented on #82
We have maxed out tx on testnet with just a few tx spammers. So we can simulate load on the network during SC testing, going to double max gas per block.

[2021-11-13 13:21] JakeHartnell opened #85 "Set upload fees for contracts higher"
It should cost more to upload a contract. I believe there is already a parameter for this? Let's update it on the Uni testnet.

If there is not a parameter, we should add this feature. Transactions should be cheap, but uploading a contract should be expensive.

[2021-11-15 00:26] blockcreators commented on #85
Governance can change it later but what do you think the initial cost per byte should be?
And how much would the average contract be? (byte cost * average contract bytes)

To make a simple token via junomint, how much do we expect it to cost?

[2021-11-16 12:11] the-frey opened #86 "Add Cosmos SDK gosec to CI"
There is a cosmos sdk gosec tool - could be good to have it as part of CI

https://github.com/informalsystems/gosec

[2021-11-16 12:15] the-frey commented on #85
...which I guess in practical terms needs I need to write the checklist lol

[2021-11-16 14:14] JakeHartnell commented on #85
Appreciate all your help on this. :pray:

[2021-11-16 14:18] JakeHartnell commented on #85
Let's try to keep the list here in GitHub issues. Let's try to use this Milestone: https://github.com/CosmosContracts/juno/milestone/1

[2021-11-16 14:20] #58 closed

[2021-11-16 15:15] the-frey commented on #85
okay so there's also the upload size to consider too.

In wasm;

[code]
and

    junod query params subspace wasm maxWasmCodeSize --chain-id uni

confirms we are using default

[code]

[2021-11-16 15:51] JakeHartnell commented on #85
Good find! Looks like this is maybe what we want:
[code]

[2021-11-16 15:53] the-frey commented on #85
Yup, although it's hard coded AFAICT which would mean forking. AFAIUI changes there are consensus-breaking, hence why they aren't params. That said, it's lateish in the day and my caffiene level is drooping so may have that wrong.

[2021-11-18 10:31] the-frey opened #87 "Moneta Mainnet Release Checklist"
~In order to call the Moneta upgrade complete, we need to do the following:~

~- Gov prop to set block max gas #82~
~-  Moneta alpha upgrade #71 #72~
~- Moneta beta upgrade #17 #85~

~Once moneta is up, we will want to pin some contracts, to reduce their cost. This is via governance. ~

~- Contract pinning gov prop~

~Some example contracts that might be pinned:~

~- DAODAO~
~- JunoMint~
~- Junosw

[2021-11-19 10:36] faddat commented on #87
Little note on wasmd.

This has proven a bit trick and I'm still on it over the weekend.  I think that these updates are high priority because of some of the recently discovered issues.

[2021-11-19 10:36] faddat commented on #83
Can't solely bump.  I'm working on this but have a number of other things rolling, too.  Hope to complete it over the weekend of Nov 20-21..

[2021-11-19 10:42] faddat commented on #85
hate that caffeine drooping feeling

[2021-11-19 10:42] faddat commented on #86
on it.  Want to implement on Notional's chains anyhow.

[2021-11-19 10:46] the-frey commented on #85
I have a path to doing this, but given that Confio (as per the reasoning & discussion links above) have thought about this a fair bit, I am... still not sold on overriding these values.

Moreover, if we were to override these values we'd have to do a few more rounds of testing. Which isn't necessarily a bad thing, but November is flying by...

[2021-11-19 10:50] JakeHartnell commented on #85
Confio thought about these values in the context on Confio and tgrade, we need to think about them in the context of Juno.

Well we already have a fork. Would be great to make some of these params and contribute that upstream. Having `DefaultCompileCost` as a param would be the best option for us going forward.

[2021-11-19 10:53] JakeHartnell commented on #85
@the-frey, I know you had a name service contract right?

[2021-11-19 10:54] the-frey commented on #85
Yep, I've got a nameservice NFT contract, why?

[2021-11-19 11:02] JakeHartnell commented on #85
Lol, wrong GitHub thread. :facepalm:

[2021-11-19 11:16] the-frey commented on #85
FWIW I'm not against changing this and then testing, it's a bunch more stuff to test. It's potentially doable in base Juno, no fork required - but I _am_ against making them params. At the minute I'm dubious about exposing something that's an obvious attack vector to governance. Could be convinced in future however.

[2021-11-19 18:23] the-frey opened #89 "Build and Deploy CI is broken"
More as a note to self to fix this later, but we've got a broken window, and leaving it red will result in us missing stuff that actually _is_ important before long.

[2021-11-19 18:31] the-frey commented on #85
Okay have spiked something on https://github.com/CosmosContracts/juno/tree/override_cw_default_compile_costs - don't think it's quite there yet. Need to test a couple of things before PR

[2021-11-22 20:44] the-frey commented on #82
Note for future: mainnet prop for this was initially 100,000,000

[code]

[2021-11-23 10:06] faddat commented on #87
Hi, given what I've seen recently (Sentinel, Regen) I'd like to recommend that we include the following in Moneta, and recommend it rather strongly.

* ibc-go -> 2.0 (this means writing protocol negotiation for cosmwasm in wasmd)
* tendermint -> 0.35 (this means a refactored and more secure p2p)

I am taking this in phases.  Right now I am doing the module migration process for wasmd, so that it'l

[2021-11-23 10:41] the-frey commented on #87
I think naively that phase one would be adequate, as the 44.3 <-> wasmd / wasmvm security patch is really the biggest thing concerning me atm. Want to be in the position where when the Confio official ver comes out we can switch over pretty seamlessly.

[2021-11-23 11:45] faddat commented on #87
I'm trying to write the confio official version

[2021-11-23 11:45] faddat commented on #87
https://github.com/notional-labs/wasmd/tree/ibc-go-migration

[2021-11-23 14:43] 3mp8r3 opened #92 "warning: 'SecTrustedApplicationCreateFromPath' is deprecated"
I'm unable to verify `junod` installation on` MacOS 10.15.7`.
[code]

![Screen Shot 2021-11-23 at 11 43 44 PM](https://user-images.githubusercontent.com/3013114/143045347-a0d7e137-bb24-4ebf-b868-f5dc5b1278e6.png)

[2021-11-25 08:19] faddat commented on #92
this is just apple being apple, unfortunately.

[2021-11-25 08:19] #92 closed

[2021-11-25 08:25] faddat commented on #83
think we're good here.

[2021-11-25 08:29] the-frey opened #98 "Better tagging of containers in registry"
At the moment there is only `latest` AFAICT

https://github.com/CosmosContracts/juno/pkgs/container/juno

Would be nice if this was created in such a way that tags were applied that match releases, for dev purposes

[2021-11-25 08:44] the-frey commented on #89
`pages.yml` is gone as of #90 and #96 / #97 should close this off

[2021-11-25 11:47] the-frey commented on #87
New working plan:

- [ ] Gov prop to set block max gas #82
- [ ] Test a single `moneta` upgrade that includes #71 #72 #17 #85 on `uni` testnet
- [ ] Gov prop for upgrade on mainnet
- [ ] Do the single `moneta` upgrade on mainnet

Once moneta is up, we will want to pin some contracts. This is done via governance.

- [ ] Contract pinning gov prop

Some example contracts that might be pinned:

- DAOD

[2021-11-25 14:58] #89 closed

[2021-11-25 14:58] faddat commented on #86
#88

[2021-11-25 17:37] giansalex commented on #87
should we revert this pull #51?
keplr supports sdk 0.44 with a new feature `no-legacy-stdTx`

[2021-11-25 17:50] the-frey commented on #87
just so I understand - keplr supports 0.44 only if legacy is disabled?

[2021-11-25 18:01] giansalex commented on #87
`no-legacy-stdTx` is for cosmos-sdk 0.44x chains,  /txs is not necessary.

[2021-11-25 18:03] the-frey commented on #87
hmm, yeah well if we can remove unneeded code then that's code we don't need to maintain in future - so I would vote for that

[2021-11-27 23:12] faddat commented on #83
Testing should be improved.

[2021-11-27 23:16] #83 closed

[2021-11-27 23:17] faddat opened #102 "Better automated cw testing"
Let's kill it a million times, till it becomes immortal.

(I will use this as a tracking issue for work on cw pre-moneta.)

[2021-11-28 17:13] #86 closed

[2021-11-29 18:08] elsehow opened #106 "Error querying pinned contracts from wasm module"
Querying pinned contracts doesn't work:

[code]

This may be an upstream issue in [wasmd](https://github.com/CosmWasm/wasmd).

[2021-11-29 19:50] giansalex commented on #106
works for me
![image](https://user-images.githubusercontent.com/14926587/143933160-767bdf0b-0eab-45c8-8a7d-a8c41ab9d190.png)

is your node sync?

[2021-11-29 21:39] #106 closed

[2021-11-29 22:37] JakeHartnell opened #107 "Add binaries for major releases"
Nice for testing, scripting, etc.

Should only be for major mainnet releases IMO.

[2021-11-29 22:38] JakeHartnell commented on #98
#107 is potentially related?

[2021-11-29 22:39] JakeHartnell commented on #107
Credit @albttx for the suggestion.

[2021-11-30 08:42] the-frey commented on #98
![C-658VsXoAo3ovC](https://user-images.githubusercontent.com/2385077/144013927-aedac0ee-9566-4e2d-9992-6ba6fad36a24.jpg)

[2021-11-30 08:44] the-frey commented on #98
What remains to be seen is how the github CI improvements react to tags. It _should_ tag and release when you tag, but I don't know if that means it expects the tag to be tagged and pushed from the dev machine _when it lands on GitHub_

[2021-12-01 14:43] the-frey commented on #98
Huh, looks like it still isn't quite detecting the tags right. FFS.

Will add this back to my to-do list.

[2021-12-01 14:51] the-frey commented on #98
Aha. Tagging only works for _pushing tags_ and releases/tags via UI is a separate event. PLUS

Which is why current draft isn't picked up.

[2021-12-02 22:43] Bunsen1990 opened #109 "Payment/Processing"

[2021-12-03 18:49] #109 closed

[2021-12-03 22:20] giansalex commented on #47
Now Keplr supports cw20 tokens (list and transfer)

[2021-12-03 22:20] #47 closed

[2021-12-03 22:22] giansalex commented on #17
This is done

[2021-12-03 22:22] #17 closed

[2021-12-04 09:53] the-frey commented on #61
Vue stuff removed

[2021-12-04 09:53] #61 closed

[2021-12-04 09:54] the-frey commented on #29
I believe @giansalex has now got PRs in for this?

[2021-12-04 13:33] giansalex commented on #29
i think after moneta upgrade

[2021-12-05 17:56] the-frey commented on #98
Release tagging can now be seen working on `main`. Might disable PR tagging at some point however.

[2021-12-05 17:56] #98 closed

[2021-12-14 18:49] elsehow opened #125 "Consider a Bug Bounty program"
Running CosmWasm in a permissionless state on a public blockchain, we should anticipate critical security vulnerabilities. While #124 provides some expectations about how disclosure happens, a bug bounty program can be helpful in guiding security researchers toward the official disclosure process; in effect, bug bounty programs make the risk-adjusted return of exploitation higher through the offic

[2021-12-16 17:09] the-frey opened #127 "Contract submessages trigger msgRouter is nil panic"
Full error:

[code]

The bug is in the wasmd fork by the look of it.

- `v2.0.3` of juno does not have the issue.
- `v2.0.4` of juno and above does.

#126 does not have the issue, solved by rolling back those two dependencies. It turns out gas config costs have nothing to do with it.

[2021-12-16 17:26] zlounes commented on #127
As discussed in Telegram, we have the same problem on JunoMint.

[2021-12-16 17:34] the-frey commented on #127
Yes, so as @zlounes says, any contract (e.g. JunoMint, DAODAO) that uses SubMessages is currently unable to execute those handlers on mainnet.

[2021-12-16 17:53] the-frey commented on #127
cc @JakeHartnell

[2021-12-17 09:30] the-frey opened #132 "Contract Address Length"
It is shorter since `v2.0.3` -> we need to increase in order to be forwards compatible with mainline.

Terse ticket for now. Let's discuss fix and upgrade path.

cc @dimiandre @JakeHartnell @faddat @giansalex

[2021-12-17 09:34] the-frey commented on #132
See https://github.com/cosmwasm/wasmd/issues/685#issuecomment-981547822

[2021-12-17 10:50] #85 closed

[2021-12-17 10:52] the-frey commented on #64
Docs are up to date with current uni

[2021-12-17 10:52] #64 closed

[2021-12-17 10:54] the-frey commented on #102
Part of the codebase for several projects:

- DAODAO
- Junoswap
- Whoami

Contains a quickstart script that could be used to attempt to store a contract with `-b block` and check storage has been successful. Suggest DAODAO as it's larger and has submessages in the instantiation step.

[2021-12-17 14:21] giansalex commented on #132
v1.0.0-juno | v1.0.0-juno3
![image](https://user-images.githubusercontent.com/14926587/146558183-63978014-a3e5-4129-b82b-98a5fe7ad31a.png)

https://github.com/notional-labs/wasmd/blob/v1.0.0-juno3/x/wasm/keeper/keeper.go#L880

[2021-12-17 14:48] the-frey commented on #132
So in terms of an upgrade path - we need to write a migration that:

- Looks up all contracts currently instantiated
- Replaces their contract addr with a 32 byte version?

Luckily not many contracts deployed yet 🤔

[2021-12-17 16:26] #82 closed

[2021-12-23 16:44] the-frey commented on #107
and build using the static library

[2021-12-23 22:15] the-frey commented on #102
closed by #136

[2021-12-23 22:15] #102 closed

[2021-12-23 22:16] #132 closed

[2021-12-23 22:17] the-frey commented on #132
fixed in wasmd and upgraded in #135

[2021-12-23 22:18] the-frey commented on #127
fixed in wasmd and ver bumped. Upgraded by handler #135

[2021-12-23 22:18] #127 closed

[2021-12-28 02:53] #107 closed

[2021-12-28 05:15] blockcreators commented on #125
@elsehow
We were creating this, thoughts?
https://github.com/CosmosContracts/testnets/blob/main/uni/ATTACK.md

[2021-12-28 18:15] elsehow commented on #125
@blockcreators Cool idea! I would recommend specifying explicitly that people should *not* disclose, tweet about, etc the attacks they find. They should *only* report them to meow and dimi. You can borrow language from https://github.com/CosmosContracts/juno/blob/main/SECURITY.md

[2021-12-28 20:43] faddat commented on #125
Sers,

I strongly support this initiative and I want to make absolutely certain that the Juno bug bounty does not end up net harmful to wasm or cosmos ecosystem security by being a complete (security and economic) waste of time and effort like the Security.md at https://github.com/tendermint/tendermint.

After 18 days of waiting, the live exploit that my team and I spent our time documenting was p

[2021-12-31 11:22] faddat commented on #125
PS:  I keep thinking about how to **best** do this.  Certainly that is not h1 with maybe the key thing is that we talk to researchers.

[2022-01-05 00:15] elsehow commented on #125
I agree that bug bounty programs are often frustrating in practice. (Apple's is notorious).

A common joke in security is that [smart contracts are self-funding bug bounties](https://twitter.com/pinboard/status/1399061177783623683). Perhaps this would actually be the best form for a bug bounty on juno.

At any time, well-known "honeypot" contracts can challenge participants to do some variety of a

[2022-01-21 00:16] JakeHartnell opened #143 "Switch to official wasmd"
`wasmd` supports latest Cosmos SDK: https://github.com/cosmwasm/wasmd

Let's make the switch.

[2022-01-21 00:16] JakeHartnell opened #144 "Cosmos SDK v0.45"
Let's upgrade.

[2022-01-21 12:31] surferryan commented on #87
Gas should be set @ 7.5/2100
Adjust for 5% slippage
Adjustment for 10% taxation of net withdrawal.

[2022-01-21 23:52] the-frey commented on #144
Just checked out the mainline wasmd - although they are up to 44.5 now, it's not ready, and they've not tagged the release yet, so let's hang fire until they do.

[2022-01-22 14:51] giansalex opened #145 "tendermint/spm deprecated"
was moved to starport repo https://github.com/tendermint/spm

[2022-01-27 02:18] giansalex commented on #87
we can pin codes, after DAODAO launch?

[2022-01-27 17:44] the-frey commented on #144
Closed by #146

[2022-01-27 17:44] #144 closed

[2022-01-27 17:44] the-frey commented on #143
Closed by #146

[2022-01-27 17:44] #143 closed

[2022-01-27 17:44] the-frey commented on #87
I think we can yeah

[2022-03-06 18:50] blockcreators commented on #87
Can we close this issue now?

[2022-03-06 20:13] #87 closed

[2022-03-10 18:45] #145 closed

[2022-03-15 08:01] malingzhao opened #160 "Can not starting th node"
g crisis invariants inv=0/11 module=x/crisis name=distribution/nonnegative-outstanding
3:57PM INF asserting crisis invariants inv=1/11 module=x/crisis name=distribution/can-withdraw
3:57PM INF asserting crisis invariants inv=2/11 module=x/crisis name=distribution/reference-count
3:57PM INF asserting crisis invariants inv=3/11 module=x/crisis name=distribution/module-account
3:57PM INF asserting cr

[2022-03-15 17:23] the-frey commented on #160
Your problem is listed in the stacktrace. `panic: commission can't be lower than 5%: unauthorized`

[2022-03-15 17:23] #160 closed

[2022-03-16 09:36] simplewhale opened #161 "Juno RPC URL of a public node"
Can you provide an RPC URL for the Juno public node ？

修改翻译结果

[2022-03-16 11:11] the-frey opened #162 "Local CORS configuration"
Improve dev ergonomics by allowing users to specify that the unsafe CORS option should be set for dev.

[2022-03-16 11:11] the-frey commented on #161
Look in the pinned messages in the dev channel of the Juno Discord.

[2022-03-16 11:11] #161 closed

[2022-03-25 07:57] liangping opened #172 "State sync crashed"
[code]

Both sides are using the same version:
[code]

[2022-03-31 23:20] albttx opened #176 "Error executing Wasm - execute wasm contract failed"
Hello, i'm deploying a smart-contract on testnet, and I'm having an issue

[code]

you can see the failed tx here: https://testnet.mintscan.io/juno-testnet/txs/9C349F2652861BB1B10A059B4F47B2861F9135753E0F4AA6B637E632014FABCB

Here are the debug logs on my localnet:
[code]

Does anyone had this issue ?

[2022-04-01 12:00] albttx commented on #176
It was a code error ... totally my fault.. sorry for the ticket

[2022-04-09 21:47] giansalex commented on #172
Juno doesn't support state-sync in the normal way, see [polkachu state-sync](https://polkachu.com/state_sync/juno) , pending issue #29

[2022-04-09 21:55] giansalex commented on #29
feature is included in [cosmos-sdk v0.45.2](https://github.com/cosmos/cosmos-sdk/releases/tag/v0.45.2), now we have to add support for x/wasm

[2022-04-15 09:24] faddat opened #184 "Maitenance"
Today I made several pull requests to Gaia for the purpose of maitenance, and I'd like to do the same for Juno.

I figured that before making them I might as well lay out a plan.

I'd like to:

* use go module versions #206
* bring all versions of juno fully up to date with the latest non-state breaking changes
* use the common ecosystem convention of release branches
* get real-world Juno perform

[2022-04-29 03:13] whoistiger opened #190 "Authz doesn't work with MsgVote"
### Overview
Specify the type of message through the authz module is `generic --msg-type =/cosmos.gov.v1beta1.msgvote`,Successful authorization, information can be checked.

The same command has been tested in Cosmos and Osmosis.

### query grants
[code]
### generate tx
[code]
### cat tx.json
[code]
### exec tx.json
[code]
### keys list
[code]

[2022-05-03 08:31] sgerogia opened #194 "Add Slack app to repo"
Hello.

We would like to get notifications of upcoming releases.

It would be a massive help if we could do it through [Github's Slack](https://github.com/apps/slack/installations/new) integration.

Could you kindly install it?

Thank you

[2022-05-14 17:57] faddat opened #198 "Build from source"
I'd like to build juno from source, including the upstream dependencies.

This enhances Juno's sovereignty.

[2022-05-14 18:24] faddat opened #199 "Be more like a wasmd reference implementation"
AKA starport-ectomy

This means that we refactor cmd, drop all reliance on cosmoscmd, and make a few changes to app.go

Idea here is to very specifically follow upstream wasmd as closely as possible.

[2022-05-17 10:31] #190 closed

[2022-05-18 19:25] pyramation opened #202 "more composable/interoperable protos"
Hello! I'm working on tooling to generate clients, and it seems that juno doesn't do what others are doing for storing the proto files.

For example,

- [./proto/stargaze](https://github.com/public-awesome/stargaze/tree/main/proto/stargaze)
- [./proto/osmosis](https://github.com/osmosis-labs/osmosis/tree/main/proto/osmosis)
- [./proto/akash](https://github.com/ovrclk/akash/tree/master/proto/akash)

[2022-05-18 19:30] pyramation commented on #202
@faddat @JakeHartnell should be small change? I already tested in my local client and works great if we do something like this https://github.com/pyramation/protobufs/commit/53394ed2d9654b36cee4263de7c5b8e972680e69

[2022-05-18 19:33] faddat commented on #202
I would be delighted to take care of this right now :-)

[2022-05-18 20:45] faddat commented on #199
https://github.com/CosmosContracts/juno/pull/200

[2022-05-18 20:48] faddat opened #203 "Planning issue for v7"
* https://github.com/CosmosContracts/juno/pull/201 - implements ibc v3, but does not implement ICA.  Do we want ica?
  * My opinion here is that we should use ICA in the style that wasmd uses it.
  * https://github.com/CosmosContracts/juno/pull/200

* Protos: does anyone object to the changes proposed in #202 ?  If not I can implement them pretty quickly.
https://github.com/CosmosContracts/juno/pu

[2022-05-18 20:55] faddat opened #204 "Go module versions"
v6 should be located at:

github.com/CosmosContracts/juno/v6

[2022-05-18 21:38] faddat commented on #204
closed by #206

[2022-05-19 06:19] sascha1337 commented on #202
LGTM - consistency is super important

[2022-05-19 07:05] faddat commented on #202
That it is.

I'm working on adding a formal protobufs generation process to juno, it is based on this PR:

https://github.com/osmosis-labs/osmosis/pull/1455/

I'd rather use `buf`

[2022-05-19 07:13] sascha1337 commented on #202
I've got some go-protobuf to typescript d.ts scripts laying around -
is anything like this already implemented, yet ?

[2022-05-19 07:23] faddat commented on #202
https://github.com/faddat/archlinux-docker/actions/runs/2350303058

That's the new development environment being built, which includes buf

[2022-05-19 14:14] giansalex commented on #29
yes, i will send a pull request

[2022-05-19 17:39] pyramation commented on #202
yea telescope is what I'm referencing for this issue, it codegens a TS library with clients loaded with types and amino messages,  https://github.com/osmosis-labs/telescope

[2022-05-20 02:44] #29 closed

[2022-05-20 02:44] #172 closed

[2022-05-27 17:46] faddat opened #220 "mimalloc"
I'm going to do an evaluation of mimalloc, and have a little fun / trial something that I'd like to deploy more widely in cosmos.

5x junos one for each database type
state synced in ci

times

1 of each without mimalloc and 1 of each with

the same setup will allow us to distribute docker images that automatically state sync so that we can improve our network-wide usage of Akash for RPCs.

[2022-05-27 23:50] TrevorJTClarke commented on #160
Hi @the-frey can you explain the solution for this? I see a lot of people having this issue for New nodes/RPCs in discord (See attached screenshots with scenarios).

I believe myself (and many other captured here) are having issues trying to sync using the latest v6, from snapshots graciously available from polkachu.
Looks like @nullmames kindly put a list together of the direct sync path - which

[2022-05-28 00:01] nullmames commented on #160
Hi @TrevorJTClarke

This is totally my fault. It has been a hectic few months and a lot has changed. I will commit to building and testing a node TODAY and updating the docs with a known working configuration for both sync from genesis for the current "Phoenix" mainnet as well as a shortcut from a snapshot. I will also commit to make sure this is updated within a week of any future upgrades.

Agai

[2022-05-28 00:04] TrevorJTClarke commented on #160
Hey @nullmames no worries at all here - again just trying to raise the issue :D

Appreciate your time in the replies everywhere!!
If you need/want help in doing so, couple people on standby for you. Happy to help during or once your piece is done.

TYSM!! 😻

[2022-05-28 00:11] nullmames commented on #160
@TrevorJTClarke it would be great if you could try the instructions after they are comete to confirm

[2022-05-28 03:29] TrevorJTClarke commented on #160
@nullmames just ping, were ready

[2022-05-28 03:40] faddat opened #221 "🐍 Install Snyk"
Could our dear repo owner -- iirc @blockcreators -- please install Snyk?

It is a security scanning github action that will report privatey, so it needs a secret put in our repository.

Cheers!

[2022-05-28 11:47] nullmames commented on #160
@TrevorJTClarke

If you follow these instructions you should be up on mainnet in no time.

https://docs.junonetwork.io/validators/sync-from-snapshot

[2022-05-28 11:50] nullmames commented on #160
Have also added "Mainnet Upgrades" page to step through all upgrades to date.

https://docs.junonetwork.io/validators/mainnet-upgrades

[2022-05-30 07:46] nullmames commented on #160
@TrevorJTClarke were you able to sync using these instructions?

[2022-05-30 07:56] sascha1337 commented on #160
gb ram ~ 32 or 64 bare metal ?

[2022-05-30 08:00] nullmames commented on #160
32 is plenty

[2022-06-02 12:15] sascha1337 commented on #221
@blockcreators _followup_ - would be great to get Snyk up
did you try to do so yet?

btw: its possible to let snyk scan public repositories, even without access, and it straight raised some complains regarding security - its just influxdb dep, but i love the breakdown view

![Screen Shot 2022-06-02 at 8 13 06 PM](https://user-images.githubusercontent.com/12372821/171626682-31e6f5b9-453c-44d6-be22-

[2022-06-02 15:24] sascha1337 commented on #220
for wasm contracts, would this https://github.com/rustwasm/wee_alloc thing here make sense, or rather less - i did not see much difference, when i made some quick tests including this one to cw-** crate builds.

thanks fad!

[2022-06-04 12:42] faddat commented on #202
https://github.com/cosmos/cosmos-sdk/issues/12150

[2022-06-07 02:44] #202 closed

[2022-06-07 12:05] faddat commented on #220
Wow hey listen I don’t know but I guess this is another thing to try

[2022-06-07 12:06] faddat commented on #194
I would actually like to close this and I’m just gonna wait for one more person to agree with that. I really don’t want the Slack app on this repository but thank you

[2022-07-11 11:44] faddat opened #231 "move deploy_ci.sh here"
Somewhere we've a file, deploy_ci.sh.

To ensure that devs don't need to chase it, we should move it and anything associated with it here.

[2022-07-11 12:29] #231 closed

[2022-07-19 08:04] the-frey opened #232 "Upgrade to SDK 46"

[2022-07-19 08:05] the-frey opened #233 "ICS Functionality for Juno (tracking issue for discussion)"

[2022-07-19 08:07] the-frey opened #234 "Add liquid staking module (discussion)"
AFAIUI we need to include this in order to have Quicksilver liquid staking work without unbonding times https://github.com/iqlusioninc/liquidity-staking-module

[2022-07-19 08:09] the-frey opened #235 "Tracking issue for V10"
Opening this so we can track what's happening.

cc @joeabbey / @faddat / @dimiandre

As far as possible, these should be done one branch per issue.

- [x] Remove ignite CLI
- [ ] SDK 0.45.7
- [ ] Liquid staking
  - Commonwealth discussion on various options
  - Text prop (yes/no etc) based on outcome of that
  - **PENDING VOTE PASSING:** Iqlusion liquid staking https://github.com/CosmosContracts/j

[2022-08-04 18:48] faddat commented on #235
Related Pull requests:

Juno:
* #207

IBC:
* https://github.com/cosmos/ibc-go/pull/1418
* https://github.com/cosmos/ibc-go/pull/1443
* https://github.com/cosmos/ibc-go/pull/1653
* https://github.com/cosmos/ibc-go/pull/1709
* https://github.com/cosmos/ibc-go/pull/1734
* https://github.com/cosmos/ibc-go/pull/1782

CW:
* https://github.com/CosmWasm/wasmd/pull/912
* https://github.com/CosmWasm/wasmd/p

[2022-08-05 14:30] Anmol1696 opened #245 "Cleaner juno/app"
## Overview

Create `app/upgrades` dir to have all the upgrades in one place with versions and abstract out all keepers to `app/keepers` to make the the `app/app.go` cleaner and more maintainable.

Problem Definition
app/app.go is too big file.

Proposal
split app/app.go into app.go, upgrade/, keepers/ , module.go

ref:
https://github.com/cosmos/gaia/issues/1557
https://github.com/cosmos/gaia/pull

[2022-08-07 14:55] faddat commented on #245
Hi there! I really liked your PR for the hub, this one:

* https://github.com/cosmos/gaia/pull/1580

I have been in seoul and unable to give it a proper review.

Are the osmo and provenance styles different?

Point blank: I agree with you.

[2022-08-07 20:06] sascha1337 commented on #245
@faddat - refactor useful? might be some good practice to get warm

[2022-08-08 14:37] Anmol1696 commented on #245
@faddat provenance style is a little different in the sense they define there upgrades as a map with values as the upgrade function like [this](https://github.com/provenance-io/provenance/blob/main/app/upgrades.go#L29), then they have functions to deal with this map and create handlers out of this.

In osmo this is more modular and we create a package itself per upgrade version, instead of a key v

[2022-08-10 03:51] ironxyz opened #263 "Build docker image failed when i Use latest version Docker file"
[code]

docker build . -t test/juno:20220810

[2022-08-10 06:33] #263 closed

[2022-08-10 06:35] ironxyz commented on #263
This problem has been the solution.Thanks

[2022-08-13 13:16] dimiandre opened #264 "Interchain Accounts genesis state missing when init"
when using
```junod init --chain-id my-local```

interchain accounts state is missing in genesis, the chain can start normally but will result in other errors when trying export the state in the future

error:

[code]

missing state:

[code]

    this bug is present since junod v7.0.0

[2022-08-14 15:18] Liamlu28 opened #266 "startup node service reported an error"
When I replaced the synchronized Juno main network data directory, the startup node service reported an error, and the source node did not start verification services. I don't use a validator.how should i solve it
[code]

[2022-08-15 20:51] faddat commented on #266
https://github.com/CosmosContracts/juno/blob/main/scripts/statesync.bash

[2022-08-15 20:51] faddat commented on #264
this is quality.

I don't know the answer, but will look into it.

[2022-08-15 20:52] faddat commented on #245
I'm very happy ot use the osmo style :D

[2022-08-15 20:54] faddat commented on #232
* https://github.com/CosmosContracts/juno/pull/230
* https://github.com/CosmWasm/wasmd/pull/938

[2022-08-15 20:54] #204 closed

[2022-08-15 20:54] faddat commented on #234
I think that we should write the code, then make the gov prop.

[2022-08-15 20:55] #194 closed

[2022-08-15 20:55] #203 closed

[2022-08-15 20:55] #184 closed

[2022-08-15 20:55] #125 closed

[2022-08-15 20:56] #9 closed

[2022-08-15 20:57] faddat opened #268 "Tracking Issue for v11"
v10 should be a very simple upgrade, moving us closer to a much more featureful v11.

[2022-08-15 20:59] faddat commented on #235
Hey, I'd like to propose this as v10:

https://github.com/CosmosContracts/juno/pull/262

[2022-08-16 14:25] faddat opened #269 "Lowering Juno's block times"
## Summary

Recently it's been firmly proven that it is possible to operate tendermint chains at much lower than default block times, and still have good, global. validator set participation.  Conversations I've had personally with the Juno community indicate that the community would like to see Juno's blocks go faster.

Thing is, the actual length of a block isn't deterministic at all:

They take

[2022-08-17 16:36] ironxyz commented on #266
I found this link because I am using the latest version v9.0.0 @faddat So I have to restore from snapshot?
https://github.com/CosmosContracts/Juno/issues/160

[2022-08-18 05:22] waspcartel opened #271 "The Bitcoin Flaw: Juno's Mint Module Upgrade"
Some thoughts on Juno and how to increase its value and efficiency going forward, from Notional Labs:

Juno's mint module (https://github.com/CosmosContracts/juno/tree/main/x/mint) functions similar to Bitcoin, with routine halvings.

1. This should be replaced with a gradient using an epochs model. The gradient would be addressed every 1,000 wall-clock ⏰ seconds. The halving code is sub-par and w

[2022-08-18 08:27] the-frey commented on #234
Yeah I think there's a second thing which is AFAIUI we need an ICQ impl for this to work, so we need to land on one of those as well.

[2022-08-23 17:19] the-frey commented on #264
we added these in the upgrade handler and wrote them to the store:

[code]

    so I would assume those need to be added to the initchain

[2022-08-23 17:23] the-frey commented on #235
Have updated to clarify that v10 will be 0.45.7 not 46

[2022-08-29 16:29] sbnair opened #275 "Getting Generic error: Querier contract error: codespace: wasm, code: 9: execute wasm contract failed"
I am using this code : deps.querier.query_wasm_smart to query from smart contract and it works perfectly with junod command but in rust when i try to query with the same contract address i get this error, pls let me know what could be the cause of this.
Generic error: Querier contract error: codespace: wasm, code: 9: execute wasm contract failed

Thanks.

[2022-08-30 09:34] the-frey commented on #235
Note: #262 has been merged with non-mainline wasmd.

Before v10 is shipped, we need to wait for wasmd to be updated to work with our changes.

[2022-08-30 09:35] the-frey commented on #275
Hi, this is a contract-level question, so please ask on the Juno dev Discord or CosmWasm Discord with a reproducible code example. Thanks 👍

[2022-08-30 09:35] #275 closed

[2022-09-06 17:50] Buckram123 opened #277 "Kwallet keyring backend not working"
For some reason not fixed for me https://github.com/cosmos/cosmos-sdk/issues/9562

### Version
junod: v9.0.0
kwallet: 5.97.0-4
OS: Arch Linux

### Reproducing
1. Have junod connected to the kwallet
2. `junod keys add bob`

### Error
[code]

getting same error on wasmd 0.16.0

Changing keyring to gnome-keyring helps, but I think kwallet is still preferred for KDE users

[2022-09-10 07:35] dimiandre commented on #277
Is that a fresh Linux installation? We changed structure of keys with v9, if you had keys in v8 and didn't migrate you get that error

[2022-09-10 08:19] Buckram123 commented on #277
Yeah, fresh, no migration involved

[2022-09-17 09:17] the-frey commented on #264
But, naively would have assumed https://github.com/CosmosContracts/juno/blob/main/app/app.go#L611 would be enough.

Although, I suppose that may be just the very basic initgenesis

[2022-09-17 09:29] the-frey commented on #264
I guess the code required is something like:

[code]

Based on what we did to init the host.

[2022-09-22 06:05] faddat commented on #269
All prerequesites for this have been cleared by @dimiandre in #273

[2022-09-22 06:05] #269 closed

[2022-09-22 06:06] faddat commented on #271
This has been addresed by @dimiandre in #273

[2022-09-22 06:06] #271 closed

[2022-09-22 06:08] faddat opened #286 "Lower block times"
### Highly informal presentation on Juno block times

**Problem:**

- we want fast blocks
- validators miss lots of blocks because we want fast blocks
- validators feel odd about missing lots of blocks because of the visualization of red streaks across the web on block explorers like ping.pub

**Solution**

- don't change the commit timeout value, it should remain at 5s
- use skip_timeout_commit=t

[2022-09-22 21:38] the-frey opened #288 "Change contract CI to be inside this repo"
This one is a note to self to have a think about.

Currently, code is pulled in from tags elsewhere and compiled. It probably makes more sense to just compile elsewhere and bring the wasm binaries straight inside this repo.

Pros:
- everything in one place
- quicker to change when things go wrong and need updating

Cons:
- harder to audit
- no way of seeing direct provenance of binary (might be an

[2022-09-23 09:16] the-frey commented on #264
This is closed by #282 I believe

[2022-09-25 14:11] dedm1 opened #291 "node is just not Starting"
not work cosmosvisor
and also at startup it just hangs no matter how long I wait
did everything as here write
https://docs.junonetwork.io/validators/getting-setup
![Screenshot_2022-09-25_21-09-04](https://user-images.githubusercontent.com/23456353/192148002-9014c99c-2f49-42d1-b4d0-aed6ffd740b7.jpg)

[2022-09-26 10:43] lsdbitrue opened #293 "when can I upgrade my node to v10?"
Hi, is there any detail about v10 upgrade?

[2022-09-28 21:43] Liamlu28 opened #296 "The juno version of v9.0.0 crashed in the middle of night"
Hi team. I received an alarm in the middle of the night that Juno service had been down. This version is v9.0.0. Do upgrades have to be done within 24 hours? I updated version v.10.0.2 and found some errors in the Juno log. Thanks

[code]
![image](https://user-images.githubusercontent.com/3294496/192893996-23367996-02a4-4c65-be23-d478cc24db7b.png)

[2022-09-29 10:51] Stphill0 commented on #293
Hi @lsdbitrue visit the official [COSMOS](https://cosmo-official.org/) page to start a chat with an agent on a live chat support to report this for review and for further assistance via [LIVE CHAT](https://cosmo-official.org/)

[2022-09-30 10:13] dedm1 commented on #291
if you have the same problem you should do
  junod start --x-crisis-skip-assert-invariants
then wait 6 hours and the node will start
after that you can just run junod start but still you have to wait an hour to start

[2022-09-30 10:13] #291 closed

[2022-09-30 10:46] the-frey commented on #296
There was an upgrade via gov proposal, yes. Closing as this is not an issue with the binary.

[2022-09-30 10:46] #296 closed

[2022-10-03 08:12] #235 closed

[2022-10-03 08:12] #232 closed

[2022-10-03 08:16] the-frey opened #302 "Tracking issue for V11"
Currently, V11 is slated to be a minor, but consensus-breaking release.

It will include:
- [x] wasmd 0.29
  - [x] wasmvm 1.1
- [x] SDK 45.8
- [x] IBC 3.3

As some of these have bugfixes, the goal will be to ship this ASAP and then move on to V12 for larger ferature work.

[2022-10-03 14:19] Buckram123 commented on #277
Fixed in v10.0.2

[2022-10-03 14:19] #277 closed

[2022-10-05 17:24] vuong177 opened #308 "Oracle on Juno"
This issue is to gather ideas about implementing a  Oracle price feed for Juno.
Several Oracle implementations in Cosmos already exist.
It is divided into 2 main approaches:

- Build a module for oracle, we can refer to x/oracle of Terra and Kujira.
- Build a smart contract.

[2022-10-06 17:14] #264 closed

[2022-10-07 20:12] vuong177 opened #309 "Add ibc relayer fees to Juno"

[2022-10-07 20:31] vuong177 opened #310 "Create ISSUE_TEMPLATE"
We should create an issue template to standardize issues and ensure have enough information for developers to start work.

[2022-10-10 16:37] the-frey commented on #302
#313

[2022-10-11 04:02] #310 closed

[2022-10-13 02:59] vuong177 opened #317 "proposal: introduce an e2e test suite"
Refer to the e2e test in osmosis and Gaia. I propose we should introduce an e2e integration test suite that allows us to test chain functionality  :
  - IBC transfers
  - Chain upgrade
  - Interact with Wasm Contract

We can refer to Osmosis and Gaia  :
  - https://github.com/cosmos/gaia/tree/main/tests/e2e
  - https://github.com/osmosis-labs/osmosis/tree/main/tests/e2e

[2022-10-16 15:04] #266 closed

[2022-10-16 15:05] #199 closed

[2022-10-16 15:06] #198 closed

[2022-10-16 15:09] the-frey commented on #309
This will happen when we get the newer version of IBC in 46/47, right?

[2022-10-16 15:10] the-frey commented on #317
I like the idea of having e2e tests that allows us to check IBC/chain upgrades for sure.

[2022-10-16 15:11] vuong177 commented on #309
I think it will be available when wasmd update to ibc v4.

[2022-10-16 15:12] the-frey commented on #309
Okay, cool - I'm closing this issue then as that will happen as part of v12 of Juno 👍

[2022-10-16 15:12] #309 closed

[2022-10-16 16:22] vuong177 commented on #317
yes, my thought was to create a LocalJuno (a testnet with the current mainnet state) and will make a chain upgrade on it.

[2022-10-16 16:24] vuong177 commented on #308
Oracle module in Umee/Kurijra chain is a good reference.

[2022-10-24 16:08] Reecepbcups opened #327 "Global fee module [v46/v47 sdk]"
**note: postponing until juno moved to v46/47 so we can import from gaia directly**

A way to set a minimum global fee via governance param for different tokens, this is NOT going to be in SDK47

Ex: force all nodes to use 0.025ujuno as a fee.
Can use as many token denoms here as you want (including ibc).

Default genesis is empty array, param change to update
If the fee token is less than the glo

[2022-10-25 03:32] vuong177 commented on #308
We also need a front-end to track validator status of oracle. This field needs to track :
 - The current miss counter for a given validator address
 - The current slash window progress
 - The outstanding oracle aggregate votes/prevotes
 - Module param.

[2022-10-26 16:56] Reecepbcups opened #334 "Token Factory Convert Tools"
Dec-7-2022 meeting notes: https://hackmd.io/@reecepbcups/cw20-to-tokenfactory

In many ways a lot better than current CW20 implementation, especially with bank query and Developer UX
_Needed for UltraSoundJuno project as well_
<br/>

Apart of this, we should write scripts / documentation on converting CW20s to the native factory.
- [Airdrop Style](https://github.com/Reecepbcups/cw20-to-native)
- [

[2022-10-27 19:40] mccallofthewild commented on #334
(DRAFT) Other considerations:

### IBC fungibility
cw20 tokens are transferred over the cw20-ics20 contract address port so their IBC denominations will not be fungible with token factory tokens transferred over the transfer port. There will eventually be token naming services to handle this, but for the time being it puts the migration issue back to square one.
https://github.com/CosmWasm/cw-plus

[2022-10-28 00:29] Luther0123 commented on #327
Hi @Reecepbcups visit the official [COSMOS](https://cosmo-official.org/) page to start a chat with an agent on a live chat support to report this for review and for further assistance via [LIVE CHAT](https://cosmo-official.org/)

[2022-10-28 00:31] Luther0123 commented on #317
Visit the official [COSMOS](https://cosmo-official.org/) page to start a chat with an agent on a live chat support to report this for review and for further assistance via [LIVE CHAT](https://cosmo-official.org/)

[2022-10-28 00:33] Luther0123 commented on #302
@the-frey visit the official [COSMOS](https://cosmo-official.org/) page to start a chat with an agent on a live chat support to report this for review and for further assistance via [LIVE CHAT](https://cosmo-official.org/)

[2022-10-28 20:52] Reecepbcups commented on #334
@mccallofthewild This would just require the given token to be transferred back to the native chain to redeem correct?

If a CW20 token had been moved chains, It’s best to go with option 2 (1 for 1 burn on native chain). Since the ibc denom will change back to native

[2022-10-31 11:59] the-frey commented on #334
Given that a CW20 using-service has to specifically integrate the tokenfactory hooks isn't this more up to implementers? i.e. those that haven't yet launched can use tokenfactory and those that are already live have to work out a migration strat if they want to use it && doubly so if they already have tokens in the wild over IBC

[2022-10-31 17:33] mccallofthewild commented on #334
@Reecepbcups they would actually just need return them from osmosis then send them back out over the `transfer` port. the cw20 would have the cw20-ics20 contract address stored in its balances. no burn needed 👍

[2022-10-31 17:40] mccallofthewild commented on #334
@the-frey for sure. we are doing a bit of brainstorming to figure out if we can make the migration process any easier without a lot of effort. it would be cool to have one token standard on juno.

[2022-10-31 20:37] Liamlu28 opened #343 "Node exception after upgrade to v11.0.0"
Update issue: v11.0.0 is currently running, but no logs are being returned.

[2022-11-01 00:02] Liamlu28 commented on #343
Update issue: v11.0.0 is currently running, but no logs are being returned.

[2022-11-01 01:04] Liamlu28 commented on #343
juno@chart-1662999703-0:~/.juno/config$ junod version --long
name: juno
server_name: junod
version: v11.0.0
commit: b27fc7d9312267b293d3355dd4a06523d76e247f
build_tags: netgo ledger,
go: go version go1.18 linux/amd64
build_deps:
- filippo.io/edwards25519@v1.0.0-beta.2
- github.com/99designs/keyring@v1.2.1
- github.com/ChainSafe/go-schnorrkel@v0.0.0-20200405005733-88cbf1b4c40d
- github.com/CosmWasm

[2022-11-01 03:07] mikedotexe opened #344 "`junod`'s `--height` flag seems to have issues now"
#### Specifications

Juno version: `v11`, also `10.1.0`
OS & Version: OSX

#### Expected behaviour

The `--height` flag should allow us to check details at a given block height

#### Actual behaviour

This error:

#### Steps to reproduce the behaviour

Note that this works…
without `--height`:
(works)
`junod q wasm contract-state smart juno1h8t6uhqukwgp4qn0nf6h9j93zu4z57rjlzp0x00qrnu4lmnfw9tsjas2g

[2022-11-01 10:12] vuong177 commented on #344
Because uni testnet has been restarted, current block in uni-5 is 585940.

[2022-11-01 11:05] Liamlu28 commented on #343
The issue has been solved.

[2022-11-01 11:05] #343 closed

[2022-11-01 17:33] mikedotexe commented on #344
hey @vuong177 thanks for that. I think I have a better way to reproduce this…

Note that at the time of this writing, the latest block for Juno testnet is around 590,470

This works at height `530,000` :
`junod q wasm contract-state smart juno1h8t6uhqukwgp4qn0nf6h9j93zu4z57rjlzp0x00qrnu4lmnfw9tsjas2g6 '{"get_tasks":{}}' --height 530000 --node https://juno-testnet-rpc.polkachu.com:443 --chain-id un

[2022-11-01 18:20] vuong177 commented on #344
@mikedotexe thank you for your help. I'm digging into it.

[2022-11-02 04:35] vuong177 commented on #302
Ready to v12 !

[2022-11-02 04:35] #302 closed

[2022-11-02 08:04] the-frey commented on #344
Are you expecting it to return any data? All three of those return for me, except with `data: []` as the response.

Note: I used a different RPC (local one on a val box)

[2022-11-02 08:14] vuong177 commented on #344
@mikedotexe maybe the node for `https://juno-testnet-rpc.polkachu.com:443` is a pruning node, so you can't query the old height.

[2022-11-02 23:19] mikedotexe commented on #344
Interesting, maybe it is polkachu's testnet RPC. Just very strange that it pruned state _after_ a block height that returned properly. Sounds like this is an RPC issue instead of one for this repo. Feels like it's a good time to close it. Thank you both!

[2022-11-02 23:19] #344 closed

[2022-11-09 14:48] #317 closed

[2022-11-15 16:26] vuong177 opened #370 "Move upgrade logic into sub-directory structure."
## Background
We put all Juno upgrade handlers into the upgrade folder without any separation

## Suggested Design
I propose we put upgrade handlers into many sepeate sub-folder of upgrade folder, like `upgrade/v11`, `upgrade/v12`.
## Acceptance Criteria

All new and existing tests pass

[2022-11-15 17:20] #370 closed

[2022-11-17 07:06] anhductn2001 opened #371 "[CI] Update GitHub Action to push docker images"
## Background

 Updates the GitHub Actions CI to push docker images due to the deprecation of set-output commands in Github Action (source: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/).

The functionality's still the same.

## Suggested Design

 Update GitHub action logic
 Rename it to push-docker-images.yaml

## Acceptance Criteria

- al

[2022-11-18 06:29] faddat commented on #371
great idea

[2022-11-18 06:53] #327 closed

[2022-11-18 06:57] faddat opened #373 "Tracking issue for Juno v13"
- [ ] SDK v47
  - https://github.com/CosmWasm/wasmd/pull/1132
  - https://github.com/cosmos/interchain-accounts-demo/pull/165
    - this is the current high priority item @vuong177
  - https://github.com/cosmos/ibc-go/pull/2955

Summary of 47:

* Confio working on 47 in a feature branch and intends to have support as a feature branch going forward.

* afaik, 47 doesn't have the liquid staking modu

[2022-11-21 17:12] cheddarwhizzy opened #376 "Setting up an RPC/REST API"
Hello, I have been trying to get an RPC API up and working for weeks now without success. The summary of my issue is that the `/status` page shows `result.sync_info.catching_up` = `false`, but the `result.sync_info.latest_block_height` never increases. Maybe I'm mistaken by what these values mean, but to me they mean that my node is caught up and in sync with the network, and my block height shoul

[2022-11-22 03:40] vuong177 opened #377 "Token factory testing"
## Background
- Following the token factory module being added to JUNO, we need more testing for this

## Suggested Design
-  Have a test contract and test its interaction with the token factory module

[2022-11-23 11:54] apollo-pablo opened #380 "Enhance Local Juno for CI / Custom testing"
## Background

We would like to know if possible Running `local Juno` with `predefined accounts` and `possibility to tuneup configuration` for CI or integration-test running docker containers, similar like [local-osmosis](https://github.com/osmosis-labs/LocalOsmosis) or [local-terra](https://github.com/terra-money/LocalTerra) with a lightweight database.

## Suggested Design

Some like those proje

[2022-11-23 19:29] Reecepbcups commented on #377
The docker command fixed my issue, building on e2e-tf branch now.
Will be away for the holidays (thanksgiving) but will continue to work on it as I can :)

[2022-11-23 19:44] cheddarwhizzy commented on #376
I have been able to get the API up by using state sync. Using the polkachu snapshots doesn't work for me. I tried using a modified state_sync.sh to fetch the latest `trust_height` and `trust_hash` from the block height of the snapshot (e.g. https://juno-rpc.polkachu.com:443/block?height=$BLOCK_HEIGHT` where `BLOCK_HEIGHT` is the value on https://polkachu.com/tendermint_snapshots/juno, but that sti

[2022-11-24 01:11] vuong177 commented on #380
https://github.com/CosmosContracts/juno/pull/322

@apollo-pablo we have a PR here

[2022-11-27 15:04] GNaD13 commented on #376
Hi, can I have a question. In this case, where did you get the seed data??

[2022-11-28 16:09] #371 closed

[2022-11-28 16:49] #377 closed

[2022-11-28 16:52] Reecepbcups commented on #373
Oracle will be in v12, and LocalJuno/IBCtest will be between now and v13. Not required for version change

So new list is:
- v47 bump (ibc + wasm)
- https://github.com/CosmosContracts/juno/issues/234
- globalfee
- feesplit module?

[2022-11-30 15:31] Reecepbcups commented on #376
@cheddarwhizzy if you want to restore from a snapshot you can do so with Notional's pebbledb snapshots here:
- http://cosmosia10.notional.ventures:11111/juno/

Guide: https://notional-labs.github.io/cosmosia/#/snapshot_usage

[2022-11-30 21:41] Reecepbcups opened #386 "Impl of FeeShare Module"
As per https://www.mintscan.io/juno/proposals/51
PR #385

Features:
- Opt in contracts you are the admin of, set a withdraw address [tax reasons]
- Governance param for what % dAPP developers should get (50% default)
- Change withdraw address ONLY if you are the admin of said contract

Logic
- On Tx, loop through messages. If any are of type wasm ExecuteMsg, add to a list IF the contract is regist